body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @font-face {
    font-family: 'SQUARED';
    src: local('SQUARED'), url(./fonts/forced_square/FORCED SQUARE.ttf) format('truetype');
  }
<<<<<<< HEAD
=======

 

>>>>>>> c7de37e2fa984c28b9bc3f6d38a20708c33f65ad
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
